<!DOCTYPE html>
<html lang="en">
<head>
   <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Welcome to Roamer</title>
    <link href="vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">
    <link href="../stylesheets/style.css" rel="stylesheet">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/axios/0.16.1/axios.js"></script>
    

</head>
<body>
	<div>
	<nav class="top-nav">
		<div id="logo">
        	<img class"logo" src="http://i.imgur.com/yaHwdv0t.png" alt="">
        </div>
        <div class="top-ul">
        	<ul class="navbar-nav ml-auto">
               <li class="nav-item">
                    <a class="nav-link" href="http://localhost:3000">Home</a>
                 </li>
                <li class="nav-item">
                    <a class="nav-link" href="http://localhost:3000/tours/1">Tours and Attractions</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="http://localhost:3000/about">About</a>
                </li>
                </li>
            </ul>
        </div>
	</nav>

	<header class="my-header">
		<h1>Welcome to Roamer</h1>
		<div class="select">
</header>


 <div class="myaboutcontainer">
 <div class="aboutroamer">
<h2 class="welcome">About Roamer</h2>
<p class="description">Roamer is a back-end app built by Aurinely Lopez for General Assembly's Web Development Immersive.
.</p>
</div>
<div class="myaboutpic">
<img class="mypic" src='http://i.imgur.com/MKF2boxt.jpg' alt="">
</div>

   
    <footer class="myfooter">
    <div class="footercontainer">
    </div>
    </footer>
    <script src="vendor/jquery/jquery.min.js"></script>
    <script src="vendor/tether/tether.min.js"></script>
    <script src="vendor/bootstrap/js/bootstrap.min.js"></script>
    <script src="../javascripts/form.js"></script>
    <script>
    </script>
</body>
</html>