<!DOCTYPE html>
<html lang="en">
<head>
   <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Welcome to Roamer</title>
    <link href="vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">
    <link href="../stylesheets/style.css" rel="stylesheet">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/axios/0.16.1/axios.js"></script>
    

</head>
<body>
	<div>
	<nav class="top-nav">
		<div id="logo">
        	<img class"logo" src="http://i.imgur.com/yaHwdv0t.png" alt="">
        </div>
        <div class="top-ul">
        	<ul class="navbar-nav ml-auto">
               <li class="nav-item">
                    <a class="nav-link" href="http://localhost:3000">Home</a>
                 </li>
                <li class="nav-item">
                    <a class="nav-link" href="http://localhost:3000/tours/1">Tours and Attractions</a>
                </li>
                <li class="nav-item">
                   <a class="nav-link" href="http://localhost:3000/about">About</a>
                </li>
                </li>
            </ul>
        </div>
	</nav>

	<header class="my-header">
		<h1>Welcome to Roamer</h1>
		<div class="select">
		<h4 class="arrival">Please select your city of arrival:</h4>
		</div>
		

		<div class="cities">
		<ul>
		<li class="citylist">
		<a class="citylist" href="http://localhost:3000/tours/1"<div class="city-link">New York City(JFK)</a></li>
		<li class="citylist">
		<a  class="citylist"
		href="http://localhost:3000/tours/5"<div class="city-link">Chicago(CHI)</a></li>
		<li class="citylist">
		<a class="citylist" href="http://localhost:3000/tours/2"<div class="city-link">Los Angeles(LAX)</a></li>
		<li class="citylist">
		<a class="citylist" href="http://localhost:3000/tours/4"<div class="city-link">Miami(MIA)</a></li>
		<li class="citylist">
		<a class="citylist" href="http://localhost:3000/tours/3"<div class="city-link">San Francisco(SFO)</a></li>
		</ul>
		</div>
</header>


 <div class="my-container">
 <div class="airports">
<h2 class="welcome">Airports are a bummer..</h2>
<p class="description">
That doesn't mean you have to suffer the long haul layover. Make the best use of your time and get out there with Roamer.</p>
</div>
<div class="chiimage">
<img class="thebean" src='https://aneyewideopen.files.wordpress.com/2013/04/img_2928.jpg' alt="">
</div>

 <div class="booktours">
<h2 class="onthefly">Book tours and activities in advance or on the fly!</h2>
<p class="description">
With Roamer you can prebook a tour or activity prior to your airport arrival or upon landing!</p>
</div>
<div class="nyc">
<img class="nycsky" src='http://i.imgur.com/jpHtiC5m.jpg' alt="">
</div>

 <div class="explore">
<h2 class="goout">Go out and explore!</h2>
<p class="description">
You can choose to book a private or shared sightseeing tour or visit to the destination's hottest attraction</p>
</div>
<div class="holywood">
<img class="bevhills" src='http://i.imgur.com/OMk2qL2m.jpg' alt="">
</div>
</div>
</div>
   
    <footer class="myfooter">
    <div class="footercontainer">
    </div>
    </footer>
    <script src="vendor/jquery/jquery.min.js"></script>
    <script src="vendor/tether/tether.min.js"></script>
    <script src="vendor/bootstrap/js/bootstrap.min.js"></script>
    <script src="../javascripts/form.js"></script>
    <script>
    </script>
</body>
</html>

