<style>
    body{
        background: url('http://s2.quickmeme.com/img/18/18df2b56513f75a0930a1b8f8eada16b1acb44ed986b69144e9f0abb8b2c5b33.jpg') no-repeat center center fixed;
        background-size: cover;
        text-align: center;
    }
    h1{
        color: white;
    }
</style>
<h1>Why though?</h1>